<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>sin_sasaki_box</title>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/jquery.balloon.js"></script>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">

    <script type="text/javascript">
      <!--
        function DeleteCheck(name) {
          if(!confirm(name + "を削除します。よろしいですか？")) {
            return false;
          }
        }
      // -->
    </script>
  </head>
  <body>
    <div class='content' align='center'>
      <div class='yield' style='width: 95%;'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
