<div align='center'>
    <h2><%= @artist.name_view %>のCD追加</h2>
</div>

<div id="register_div">
    <form method="post">
        <table class='table' style='width: auto;'>
            <tr>
                <th>タイトル</th>
                <td><input type="text" name="title" size='50'></td>
            </tr>
            <input type='hidden' name="artist_id" value='<%= @artist.id %>'>
<!--             <tr>
                <th>種類</th>
                <td>
                    <select name="type_id">
                      <% type_hash.each_pair do |k,v| %>
                        <%= "<option value='#{k}'>#{v}</option>" %>
                      <% end %>
                    </select>
                </td>
            </tr> -->
            <tr>
                <th>発売日</th>
                <td><input type="date" name="release_date" size='30'></td>
            </tr>
        </table>
        <input type="submit" class='btn btn-success' value="登録">
    </form>
</div>
