<br>
<div class='content' align='center'>
  <a href='/cd/' class='btn btn-primary'>トップ</a>　
  <a href='/cd/artists/' class='btn btn-primary'>アーティスト一覧</a>　
  <a href='/cd/g_config/' class='btn btn-primary'>グラフ設定</a>
</div>
