<div align='center'>
  <h2>声優CDデータ</h2>
</div>

<table class='table' style='width: 400px;' border=1>
  <tr>
    <td height='200'>ここにグラフ表示</td>
  </tr>
</table>

<hr>

<table class='table' style='width: 400px;' border=1>
  <tr>
    <td height='200'>ここにアーティスト一覧表示</td>
  </tr>
</table>

